<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtsec.manager.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.jtsec.manager.pojo.model.Menu">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="menu_type" jdbcType="CHAR" property="menuType"/>
        <result column="visible" jdbcType="INTEGER" property="visible"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="MenuResultMap" type="com.jtsec.manager.pojo.vo.MenuVo">
        <id column="menu_id" jdbcType="INTEGER" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon" jdbcType="VARCHAR" property="img"/>
        <collection property="children" ofType="com.jtsec.vo.MenuVo" column="{menu_id=menu_id,login_name=login_name}"
                    select="selectMenuByParentId">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id, menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by,
        create_time, update_by, update_time, remark
    </sql>

    <sql id="selectColunm">
        m.menu_id AS menu_id,
        m.menu_name AS menu_name,
        m.icon AS icon,
        m.url AS url,
        m.parent_id AS parent_id,
        m.menu_type as menu_type,
        m.order_num as order_num,
        m.visible as 'visible',
        m.perms as perms
    </sql>

    <sql id="condition">
        <where>
            <if test="map.loginName != null and map.loginName != ''">
                and u.login_name = #{map.loginName}
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </select>

    <select id="selectMenuByUserVarible" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColunm"/>
        from sys_user u
        INNER JOIN sys_user_role ur ON u.user_id = ur.user_id
        INNER JOIN sys_role r ON ur.role_id = r.role_id
        INNER JOIN sys_role_menu rm ON r.role_id = rm.role_id
        INNER JOIN sys_menu m ON rm.menu_id = m.menu_id
        <include refid="condition"></include>
        order by m.parent_id,m.order_num
    </select>

    <select id="selectMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColunm"></include>
        from
        sys_menu m
        order by m.parent_id,m.order_num
    </select>

    <select id="selectMenuByParentId" parameterType="java.util.Map" resultMap="MenuResultMap">
        select
        <include refid="selectColunm"></include>
        from sys_user u
        INNER JOIN sys_user_role ur ON u.user_id = ur.user_id
        INNER JOIN sys_role r ON ur.role_id = r.role_id
        INNER JOIN sys_role_menu rm ON r.role_id = rm.role_id
        INNER JOIN sys_menu m ON rm.menu_id = m.menu_id
        where m.parent_id = #{menu_id} and u.login_name = #{login_name}
        order by m.parent_id,m.order_num
    </select>

    <select id="selectPermsByUserId" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
            left join sys_role_menu rm on m.menu_id = rm.menu_id
            left join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.jtsec.manager.pojo.model.Menu">
        insert into sys_menu (menu_id, menu_name, parent_id,
                              order_num, url, menu_type,
                              visible, perms, icon,
                              create_by, create_time, update_by,
                              update_time, remark)
        values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
                                            #{orderNum,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
                                            #{menuType,jdbcType=CHAR},
                                            #{visible,jdbcType=INTEGER}, #{perms,jdbcType=VARCHAR},
                                            #{icon,jdbcType=VARCHAR},
                                            #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateBy,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.jtsec.manager.pojo.model.Menu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="visible != null">
                visible,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=CHAR},
            </if>
            <if test="visible != null">
                #{visible,jdbcType=INTEGER},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jtsec.manager.pojo.model.Menu">
        update sys_menu
        <set>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=CHAR},
            </if>
            <if test="visible != null">
                visible = #{visible,jdbcType=INTEGER},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jtsec.manager.pojo.model.Menu">
        update sys_menu
        set menu_name   = #{menuName,jdbcType=VARCHAR},
            parent_id   = #{parentId,jdbcType=INTEGER},
            order_num   = #{orderNum,jdbcType=INTEGER},
            url         = #{url,jdbcType=VARCHAR},
            menu_type   = #{menuType,jdbcType=CHAR},
            visible     = #{visible,jdbcType=INTEGER},
            perms       = #{perms,jdbcType=VARCHAR},
            icon        = #{icon,jdbcType=VARCHAR},
            create_by   = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_by   = #{updateBy,jdbcType=VARCHAR},
            update_time = now(),
            remark      = #{remark,jdbcType=VARCHAR}
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>

</mapper>